:root {
	--fuscia: #ec1C49;
	--cyan: #1188ad;
	--light-cyan: #6eccdd;
	--dark-gray: #313131;
	--light-gray: #aaa;
	--white: #fff;
}

@font-face {
	font-family: 'Gotham Book';
  	src: url('../fonts/gotham-book.eot?v=4.7.0');
  	src: url('../fonts/gotham-book.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/gotham-book.woff2?v=4.7.0') format('woff2'), url('../fonts/gotham-book.woff?v=4.7.0') format('woff'), url('../fonts/gotham-book.ttf?v=4.7.0') format('truetype'), url('../fonts/gotham-book.svg?v=4.7.0#fontawesomeregular') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

body{
	font-family: 'Gotham Book';
	color:#fff;
	background-color: #000;
	font-size: 0.7em;

}

h1, h3 {
	text-align: center;
	color:#ec1C49;	
	margin-top:50px;
	margin-bottom:10px;
}

h5{
	text-align: center;
	font-weight: 600;
	margin-top: 0px;
	font-size: 1rem;
}

.bg-fuscia {
	background-color:#ec1C49;
}
.bg-cyan {
	background-color:#1188ad;
}
.bg-light-cyan {
	background-color:#6eccdd;
}
.bg-dark-gray {
	background-color:#313131;
}
.bg-light-gray {
	background-color:#646464;
}
.bg-black {
	background-color:#000;
}

.fg-fuscia {
	color:#ec1C49;
}
.fg-cyan {
	color:#1188ad;
}
.fg-light-cyan {
	color:#6eccdd;
}
.fg-dark-gray {
	color:#313131;
}
.fg-light-gray {
	color:#646464;
}
.fg-black {
	color:#000;
}
.fg-white {
	color:#fff;
}

.bc-fuscia {
	border-color:#ec1C49;
}
.bc-cyan {
	border-color:#1188ad;
}
.bc-light-cyan {
	border-color:#6eccdd;
}
.bc-dark-gray {
	border-color:#313131;
}
.bc-light-gray {
	border-color:#646464;
}
.bc-black {
	border-color:#000;
}

.navbar a, a:hover, a:active, a:visited{
	color:#fff;
	text-decoration: none;
}	

.socialbtns ul, .socialbtns li {
  margin: 0;
  //padding: 5px;
}
.socialbtns {
	margin: 0;
	padding: 5px;	
	//padding-right: 20px;	
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	text-align: center;
	width: 24px;
    height: 24px;	
	background-color: transparent;
	border: 2px solid #fff;
	padding-top: 4px;	
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
}

.socialbtns .fa:hover {
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;
}

input.neew-control {
	background: rgba(255,255,255,0.3);
	border-radius: 0;
	height: 48px;
	color: #fff;
}

input[type='text'] {
	text-transform: uppercase;
}

textarea.neew-control {
	background: rgba(255,255,255,0.3);
	border-radius: 0;
	color: #fff;
}

select.neew-control {
	//background: rgba(255,255,255,0.3);
    background-color:#ececec;

   	border-radius: 0;
	height: 48px; 	
    padding: 5px;    
    border: 0;
    outline: none;
    font-size: 16px;           
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;     
    position: relative;
    display: block;
}

select.neew-control:after {
  content: '\25c0 \25b6';
  font: 12px "Consolas", monospace;
  //color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);  
  /*Adjust for position however you want*/
  //background: rgba(255,255,255,0.3);
  padding: 12px 8px;
  position: absolute; right: 10px; top: 0;    
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;      
  pointer-events: none;
  box-sizing: border-box;
}

 
 


.required::before{
	content:"*";
	color:#ec1C49;
	margin-right: 5px;
}
.container-centered {
    margin: 0 auto;
    width: 90%;
}


.select {
    
    color:#616263;
    overflow: hidden; 
    height: 48px;    
    background: rgba(255,255,255,0.3);
    position: relative;
    display: block;
}

.select select{       
    height: 48px;
    padding: 5px;
    background: none;
    border: 0;
    outline: none;
    font-size: 16px;           
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    color: #fff;    
}

.select option {
    margin: 40px;
    background: var(--light-gray);
    color: #000;    
    height: 48px;
}

.select:after {
    content: '\25c0\00a0\25b6';
	font: 10px "Consolas", monospace;
	color: #fff;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);  
    padding: 12px 6px;
    position: absolute; right: 10px; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}

.btn {
	border-radius: 0;	
	font-size: 10px;
	padding: 15px 30px;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	border: 2px solid transparent;
}

.btn-fuscia{
	background-color:var(--fuscia);
	color: var(--white);
}



.btn-white{
	background-color:var(--white);
	color: var(--fuscia);	
}

.btn-white:hover{
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
}


.btn-fuscia:hover {
	background-color: transparent;
	color: var(--white);
	border: 2px solid var(--fuscia);	
}



.footer {
	padding-top: 80px;
}
.footer-logo img{
	padding: 10px 30px;
}

.nav-links a {	
	text-transform: uppercase;
	color:#fff;
}

.footer-links a:hover {	
	font-weight: 700;
}

hr {
	border-color:#333;
}

	
.bgcontacto{
	background-image: url(../assets/bgcontacto.png) ;
	background-position: top center;
	background-repeat:  no-repeat;	
	background-size:  contain;
	background-color: #000;
}

.bghome{
	background-image: url(../assets/bghome.png) ;
	background-position: top center;
	background-repeat:  no-repeat;	
	background-size:  contain;
	background-color: #000;
}

.bgevento{
	background-image: url(../assets/img_slider2.png) ;
	background-position: top center;
	background-repeat:  no-repeat;	
	background-size:  contain;
	background-color: #000;
}

.dia_asset{
	position: absolute;
    top: -425px;
    left: -214px;
    z-index: -1;
}

.gallery div {
	position:absolute;
}

.gallery div.top {
	left: 200px;
	top: 0px;
}
.gallery div.left{
	left: 95px;
	top: 105px;
}

.gallery div.right{
	left: 305px;
	top: 105px;
}

.gallery div.bottom {
	left: 200px;
	top: 210px;
}

.gallery div.left-arrow{
	left: 220px;
	top: 380px;
	cursor: pointer;
}

.gallery div.right-arrow {
	left: 350px;
	top: 380px;
	cursor: pointer;
}

.item-evento{
	display: inline-grid;
	cursor:pointer;
}

.item-evento:hover .clip-evento{
	background-color: #666;	
}

#conferencias{
	position: relative;
	left: 74px;
	top: 27px;
	margin-bottom: -300px;
}

#renglon-0{
	position: relative;
	top:220px;
	left:50px;	
}

#renglon-1{
	position: relative;
	left:200px;	
}

#renglon-2{
	position: relative;
	top:-170px;
	left:200px;
}

#renglon-3{
	position: relative;
	top:-340px;
}

.clip-evento {
	width: 141.4px;
  	height: 141.4px;  	
  	transform: rotate(-45deg);  	
  	position:relative;
  	top: -117px;
  	left: 131px;
  	padding: 10px;
}


.clip-evento .arrow{
	position: relative;
    top: -25px;
    left: -10px;
    background-color: inherit;
    -webkit-clip-path: polygon(0px 20px, 20px 20px, 0px 10px);
    clip-path: polygon(0px 40px, 80px 40px, 40px 0px);
}

.clip-evento .hora{
	margin-top: -20px;
}

.clip-evento .expositor{
	font-weight: 700;
}

.clip-evento.fuscia{
	background-color: var(--fuscia);	
}

.clip-evento.cyan{
	background-color: var(--cyan);	
}

.bandera-expositor{
	position:relative;
	top: -120px;
	left:15px;
}

.expositor-info{
	background-image: url(../assets/rombo.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	background-size: 195px 195px;
	position: relative;
	top: -145px;
	left: 102px;	
	-webkit-clip-path: polygon(100px 0px, 200px 100px, 100px 200px, 0px 100px);
	clip-path: polygon(100px 0px, 200px 100px, 100px 200px, 0px 100px);	
	padding:50px 10px;
	width: 200px;
	height: 200px;
}


.expositor-info .expositor{
	font-size: 1rem;
	margin-bottom: 5px;
}

.expositor-info hr{
	width:20%;
	border-color: #ddd;
	margin-top: 0px;
	margin-bottom: 5px;
}

.expositor-info .evento{
	color: var(--cyan);
}

.clip-small{	
	background-color: var(--dark-gray);	
	-webkit-clip-path: polygon(75px 0px, 150px 75px, 75px 150px, 0px 75px);
	clip-path: polygon(75px 0px, 150px 75px, 75px 150px, 0px 75px);
	width: 150px;
	height: 150px;
	padding:50px 45px;	
}

.clip-small .hora, .clip-small .fecha{
	font-size: 1rem;
	margin-top: 5px;
}

.hora-info{
	position: absolute;
	top: -53px;
	left: 142px;
}
.fecha-info{
	position: absolute;
	top: 24px;
	left: 218px;
}

.logo-neew{
	position: absolute;
	top: 165px;
	left: -5px;	
}

.back-arrow{
	float:left;
	cursor: pointer;
}
.clip-rombo {
	background-color: #000;	
	-webkit-clip-path: polygon(100px 0px, 200px 100px, 100px 200px, 0px 100px);
	clip-path: polygon(100px 0px, 200px 100px, 100px 200px, 0px 100px);	
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-position: center;
	width: 200px;
	height: 200px;	
}


.clip-rombo {
	background-color: #000;	
	-webkit-clip-path: polygon(100px 0px, 200px 100px, 100px 200px, 0px 100px);
	clip-path: polygon(100px 0px, 200px 100px, 100px 200px, 0px 100px);	
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-position: center;
	width: 200px;
	height: 200px;	
}


.clip-rombo:hover {	
	opacity: 0.8;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


#menu-burger{
	position:fixed;
	top:0px;
	right: 0px;
	width:387px;
	height: 740px;
	background-color: var(--fuscia);
	z-index: 100;
}

#menu-burger-close{
	position:fixed;
	top:30px;
	right: 387px;
	width:51px;
	height: 51px;
	background-color: var(--fuscia);
	z-index: 100;
	padding:15px; 
	cursor: pointer;
}

#menu-burger-options {
	margin-top: 100px;
	margin-left: 30px;
}

#menu-burger-options a{
	display: block;
	margin-top: 50px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 700;
}

#menu-burger-search {
	position:absolute;
	bottom:100px;	
	padding:30px;
}

#menu-burger-search input{
	background-color: transparent;
	border:none;
	border-bottom: 1px solid #fff;
	color: #fff;
	height: 30px;
	font-size: 28px;
	padding: 10px;
	padding-left: 30px;
	width: 327px;
	background: url("../assets/search.png") top left no-repeat;

}

*:focus {
    outline: none !important;
}

#menu-scroll{ 
	background-color: #000;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
	display: none;	
}

#menu-scroll .navbar{
	padding: 0;
}

.nav-links a{
	font-weight: 600;
}


.nav-links a:hover{ 
	color : var(--light-cyan);
}


.neew-submenu {
	background-color: #fff;
	color: #000;
	width:752px;
	height:1em;
}


.popover-menu {
	cursor: pointer;
}
.popover .submenu-block{	
	height:1em;
	line-height: 1em;
}

.popover a{	
	color: #000;	
	text-decoration: none;
	font-weight: 700;
	font-family: "Gotham Book";
	font-size: 0.7em
}



.popover a:hover{	
	color: var(--light-cyan);
	
}

.popover-content {
    padding: 10px 20px;
}

.popover {
	max-width: 750px;
	border-radius: 0;
	min-width: 550px;
}


.list-group-item{
	background-color: var(--dark-gray);
	color: #fff;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
	background-color: var(--cyan);
	color: #fff;
}

.list-group-item-action.active {
	background-color: var(--fuscia);
	color: #fff;
	border: none !important;
}

.list-group-item-action:focus {
	border-top: 1px solid var(--cyan);
}

.btn:focus,.btn:active {
   outline: none !important;
}


.card{
	background-color: var(--dark-gray);
	border-radius: 0px;
	border: none;	
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-blockquote {
	color:#fff;
}

.card.active{
	background-color: var(--fuscia);	
}

.card.active .card-blockquote{
	color:#fff;
}

.card:hover{
	background-color: var(--cyan);
	border-radius: 0px;
}

.registro-breadcrumb.active{
	border-bottom:2px solid #ec1C49;color:#fff;
}
.registro-breadcrumb{
text-align:center;border-bottom:1px solid #666;margin-bottom:40px;color:#666;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-indicator{
	background-color: var(--fuscia);
}

.custom-control-indicator{
	width:1.5rem;
	height:1.5rem;	
	background-color: var(--light-gray);	
}

.custom-control-input:checked~.custom-control-indicator{
	background-color: var(--fuscia);
}

.custom-control-description{
	margin-left:0.5rem;
	font-size:1rem;
	line-height: 2rem;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}